body{
    text-align: center;
}
.header{
    width: 100%;
}
.header  {
    background-color:white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   
}
.img{
    width: 60px;  
}
.btn{
    padding-right: 10px;
}
i{
    padding-right: 10px;
}

.header .navbar-nav .nav-link{
    color:red;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 2rem ;
    margin: 0 0.2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active{
    color: rgb(42, 39, 39);

}

.container-black{
    background-color: black;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

}
.link{
    text-decoration: none;
    color: white;
    padding: 20px;
    font-family: "lato", sans-serif;
}
.link:hover{
    color: black;
    background-color: #d60303;
}
.banner_section{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)),url(./images/about.jpg);
    background-repeat: no-repeat ;
    background-position:center;
    background-size:cover;
    min-height:50vh;
}
.banner_section .carousel-item{
    
    height:45vh;
}
.banner_section .carousel-caption{
  
    bottom: 0;
    left: 3%;
    right: 0;
    text-align: left;
    width: 100%;
}
.top{
    
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}


p{
    padding-top: 20px;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
  line-height: 30px;
  text-align: left;
}
