body{
    text-align: center;
}
.header{
    width: 100%;
}
.header  {
    background-color:white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   
}
.img{
    width: 60px;  
}
.btn{
    padding-right: 10px;
}
i{
    padding-right: 10px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    padding: 20px;
}

h1 {
    font-size: 24px;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
}





.header .navbar-nav .nav-link{
    color:red;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 2rem ;
    margin: 0 0.2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active{
    color: rgb(42, 39, 39);

}

.banner_section{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)),url(./images/jason-charters-IorqsMssQH0-unsplash.jpg);
    background-repeat: no-repeat ;
    background-position:center;
    background-size:cover;
    min-height:90vh;
}
.banner_section .carousel-item{
    
    height: 95vh;
}
.banner_section .carousel-caption{
  
    bottom: 0;
    left: 3%;
    right: 0;
    text-align: left;
    width: 100%;
}
.para{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
}
.top{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.middle-btn{
    text-align: center;
   
}
.free_football_tip{
    background-color:rgb(4, 4, 47);
}
.free_football_tip-today{
    font-size: 40px;
    font-weight: 900;
}
.caption{
    text-align: center;
    color: white;
    padding-top: 10px;
  
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn2{
    padding: 15px 15px 15px 15px;
    margin: 0px 10px 15px 10px;
 border-radius: 10px;
        color: red;
        font-weight: 800;
        font-size: 20px;
    
}
table{
    background-color:white;
    display: table;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: gray;
    width: 100%;
    max-width: 100%;
    font-family: sans-serif;
    
}
table, th,td{
    border: 2px solid;
    border-collapse: collapse;  
}

th{
    background-color:rgb(67, 13, 13);
    color: white;
   font-size: 20px;
  padding: 30px;
}
td{
    font-size: 20px;
    padding: 30px;
    

}
tr:nth-child(even){
     background-color: rgb(83, 80, 149);
     color: black;
    
}
/*smart bet plan*/
.pb-0 {
    padding-bottom: 0!important;
}
.pt-0 {
    padding-top: 0!important;
}
.smart-bet-title {
    text-align: center;
}
.smart-bet-title h2 {
    font-size: 41px;
    text-align: center;
    margin-bottom: 5px;
}
.smart-bet-title p {
    font-size: 20px;
}
a.smart-action {
    display: block;
    background: #060;
    width: 50%;
    margin: auto;
    padding: 23px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}
.smart-bet-tip h2 {
    font-size: 27px;
    margin-top: 34px;
}
.investment_timing {
    text-align: center;
    padding-bottom: 50px;
}
.investment_timing h3 {
    font-size: 38px;
}
.timer_wrapper {
    display: inline-block;
}
span.fig {
    font-size: 50px;
    font-weight: 600;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.time_item span {
    display: block;
}

#bodytop3gold {
    width: 100%;
    background: red;
    height: auto;
    padding-bottom: 10px;
    padding-top: 20px;
    overflow: auto;
}

#bodytop3 {
    width: 1200px;
    height: auto;
    margin: 0px auto;
    padding-bottom: 10px;
    padding-top: 20px;
    overflow: auto;
}

#bodytop3 table tr td {
    font-size: 17px;
}

.bodytop3top {
    width: 990px;
    height: auto;
    overflow: auto;
    margin: 0px auto;
}

.bodytop3top h2 {
    width: 650px;
    height: auto;
    font-size: 45px;
    margin-bottom: 3px;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.bodytop3top p {
    text-align: center;
    width: 650px;
    height: auto;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 0px;
    font-weight: lighter;
}

.bodytop3toprigh {
    float: right;
    border-radius: 5px;
    width: auto;
    background: #060;
    color: #fff;
    font-size: 25px;
    font-family: Verdana, Geneva, sans-serif;
    padding: 15px;
    font-weight: bold;
    margin: 60px 200px 0px 0px;
    cursor: pointer;
    text-align: center!important;
}

.bodytop3down {
    width: 800px;
    height: auto;
    overflow: auto;
    margin: 0px auto;
    margin-top: 20px;
}

.bodytop3down h2 {
    text-align: center;
    width: 100%;
    margin-top: 5px;
    font-size: 25px;
    font-family: "Arial Black", Gadget, sans-serif;
    margin-bottom: 0px;
}

.bodytop3downbox1 {
    float: left;
    margin-right: 20px;
    margin-left: 40px;
    font-size: 20px;
    width: auto;
    text-align: center;
    height: auto;
    line-height: 20px;
    padding: 15px;
}

.bodytop3downbox1 img {
    margin-top: 10px;
}

.bodytop3downbox {
    float: left;
    margin-right: 20px;
    font-size: 20px;
    width: auto;
    text-align: center;
    height: auto;
    line-height: 20px;
    padding: 15px;
}

.bodytop3downbox img {
    margin-top: 10px;
}

span.period {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
}
.time_item span {
    display: block;
}
.color-black {
    background: black;
    color: white;
}
.col-50 {
    float: left;
    width: 50%;
}
.smart-bet-title {
    text-align: center;
}
.smart-bet-title h2 {
    font-size: 41px;
    text-align: center;
    margin-bottom: 5px;
}
.smart-bet-title p {
    font-size: 20px;
}
.free-tipster {
    background: #f1f1f1;
  }
  .investment_timing {
      text-align: center;
      padding-bottom: 50px;
  }
  .investment_timing h3 {
      font-size: 45px;
      margin-bottom: 3px;
      text-align: center;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
  .timer_wrapper {
      display: inline-block;
  }
  .time_item {
      display: inline-block;
      margin: 0 8px;
  }
  .time_item span {
      display: block;
  }
  span.fig {
      font-size: 50px;
      font-weight: 600;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
  span.period {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      font-size: 17px;
      text-align: center;
  }
  .container {
      max-width: 1070px;
      margin: auto;
  }
  .advert-row {
      position: relative;
  }
  .col-50 {
    float: left;
      width: 50%;
  }
  .advert-corner img {
      margin: auto;
      display: block;
  }
  .advert-corner {
      padding: 50px 0;
  }
  .advert-row::after {
      content: "";
      display: block;
      clear: both;
  }
  
  .col-10 {
    float: left;
      width: 10%;
  }
  .col-15 {
    float: left;
      width: 15%;
  }

  .col-20 {
    float: left;
      width: 20%;
  }
  .col-30 {
    float: left;
      width: 30%;
  }
  .col-33 {
    float: left;
      width: 33.33%;
  }
  .col-40 {
    float: left;
      width: 40%;
  }
  .col-60 {
    float: left;
      width: 60%;
  }
  .col-70 {
    float: left;
      width: 70%;
  }
  .col-80 {
    float: left;
      width: 80%;
  }
  .col-90 {
    float: left;
      width: 90%;
  }
  .col-100 {
      width: 100%;
  }
.investment_timing {
    text-align: center;
    padding-bottom: 50px;
}
.investment_timing p {
    font-size: 50px;
    font-weight: 600;
    margin-top: 12px;
   
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


.stores-area-v1 {
    clear: both;
    background: #000;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
        
        height: auto;
        margin-top:70px;
        overflow: auto;
      
    
}
.smart-bet-tip h2 {
    font-size: 27px;
    margin-top: 34px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row.row-tb-15 {
    margin-top: -15px;
    margin-bottom: -15px;
}
.row.row-rl-15 {
    margin-right: -15px;
    margin-left: -15px;
}
.row.row-tb-15>[class*=col-xs], .row.row-tb-15>[class*=col-sm], .row.row-tb-15>[class*=col-md], .row.row-tb-15>[class*=col-lg] {
    padding-top: 15px;
    padding-bottom: 15px;
}
.row.row-rl-15>[class*=col-xs], .row.row-rl-15>[class*=col-sm], .row.row-rl-15>[class*=col-md], .row.row-rl-15>[class*=col-lg] {
    padding-right: 15px;
    padding-left: 15px;
}
.row.row-tb-15>[class*=col-xs], .row.row-tb-15>[class*=col-sm], .row.row-tb-15>[class*=col-md], .row.row-tb-15>[class*=col-lg] {
    padding-top: 15px;
    padding-bottom: 15px;
}
.row.row-rl-15>[class*=col-xs], .row.row-rl-15>[class*=col-sm], .row.row-rl-15>[class*=col-md], .row.row-rl-15>[class*=col-lg] {
    padding-right: 15px;
    padding-left: 15px;
}
a:hover, a:visited {
    text-decoration: none;
    outline-offset: 0!important;
}
*, *:focus, *:active, a:link, a:hover, a:visited {
    text-decoration: none;
    outline-offset: 0!important;
}
.panel {
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
}

.is-block {
    display: block!important;
}
.panel {
    margin: 0;
}
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
   
}
.embed-responsive-4by3 {
    padding-bottom: 20%;
    background: #d60303;
}
.embed-responsive-4by3 h3 {
    color: #fff;
    font-weight: 900;
    padding-top: 10px;
    font-size: 30px;
   
}
.stores-area-v1 .store-logo {
    position: absolute;
    top: 50%;
    display: none;
    left: 50%;}
    img{
        display: inline-block;
        max-width: 100%;
        height: auto;
        user-select: none;
    }
.stores-area-v1 .store-name {
        padding: 6px 0;
        color: #000;
        font-size: 18px;
        border-top: 1px solid #f1f1f1;
        background-color: #fff;
        font-weight: 500;
       
    }
    .ptb-10 {
        
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }

    /* "Best-Football-Prediction-Site" */

.Best-Football-Prediction-Siteh3{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 30px;
}
.Best-Football-Prediction-Siteh1{
    font-size: 35px;
    font-weight: 600;
}

/*footer*/
.pos-r {
    position: relative!important;
}
.bg-blue {
    background-color: #000!important;
}
.pb-30 {
    padding-bottom: 30px!important;
}
.pt-70 {
    padding-top: 70px!important;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row.row-tb-20 {
    margin-top: -20px;
    margin-bottom: -20px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row.row-tb-20>[class*=col-sm], .row.row-tb-20>[class*=col-md], .row.row-tb-20>[class*=col-lg] {
    padding-top: 20px;
    padding-bottom: 20px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.row.row-tb-20>[class*=col-xs], .row.row-tb-20>[class*=col-sm], .row.row-tb-20>[class*=col-md], .row.row-tb-20>[class*=col-lg] {
    padding-top: 20px;
    padding-bottom: 20px;
}
.color-light {
    color: #d4d4d4!important;
}
.mb-40 {
    margin-bottom: 30px!important;
}
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
img {
    vertical-align: middle;
}
.footer-top-area h2 {
    font-size: 16px;
    line-height: 26px;
    color: #eee;
    margin: 0 0 40px;
    text-transform: uppercase;
}
.row.row-tb-5 {
    margin-top: -5px;
    margin-bottom: -5px;
}
.row.row-rl-5 {
    margin-right: -5px;
    margin-left: -5px;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.color-lighter {
    color: #f5f5f5!important;
}
ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-top-area .footer-links ul li a {
    display: block;
    position: relative;
    color: #bbbec1;
    height: 25px;
    line-height: 25px;
    padding-left: 20px;
    text-transform: capitalize;
}
.main-footer {
    text-align: center;
    background: #1e2b35;
    height: 60px;
}


.main-footer {
    text-align: center;
    background: #1e2b35;
    height: 60px;
}
.main-footer p {
    font-size: 15px;
    line-height: 26px;
    color: #647d89;
    margin: 17px 0 0;
}
/* Small screens (up to 480px) */
@media (max-width: 480px) {
    /* Your CSS rules for small screens go here */
    .col-50{
        float: right;
        width: 100;
        display: flex;
        flex-direction: column;
    }
    .Best-Football-Prediction-Site{
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;}
    #body {
        
        background:red;
       
        display: flex;
        flex-direction: column;
    
    }
    .embed-responsive-4by3 {
        padding-bottom: 35%;
        background: #d60303;
        
    }
    .banner_section{
        background:linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)),url(/images/jason-charters-IorqsMssQH0-unsplash.jpg);
        background-repeat: no-repeat ;
        background-position:center;
        background-size:cover;
        min-height:90vh;
    }
    .banner_section .carousel-item{
        
        height: 55vh;
    }
}

/* Medium screens (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    /* Your CSS rules for medium screens go here */
    .embed-responsive-4by3 {
        padding-bottom: 35%;
        background: #d60303;}
        .banner_section{
            background:linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)),url(/images/jason-charters-IorqsMssQH0-unsplash.jpg);
            background-repeat: no-repeat ;
            background-position:center;
            background-size:cover;
            min-height:90vh;
        }
        .banner_section .carousel-item{
            
            height: 95vh;
        }   
    }

/* Large screens (769px and above) */
@media (min-width: 840px) {
    /* Your CSS rules for large screens go here */
    .banner_section{
        background:linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)),url(/images/jason-charters-IorqsMssQH0-unsplash.jpg);
        background-repeat: no-repeat ;
        background-position:center;
        background-size:cover;
        min-height:80vh;
    }
    .banner_section .carousel-item{
        
        height: 60vh;
    }
    table{
   
        width: 90%;
        max-width: 90%;
        margin: 0 auto;
    }
    td{
        font-size: 20px;
        padding: 30px;
    }
    #body {
        width: 100%;
        background:red;
        height: auto;
        padding-bottom: 50px;
        padding-top: 0px;
        overflow: auto;
       
    }
    .embed-responsive-4by3 {
        padding-bottom: 15%;
        background: #d60303;
    }
    .height{
        margin-top: 0px;
          }
          .Best-Football-Prediction-Site{
            margin-top: 100px;
            margin-left: 200px;
            margin-right: 200px;} 
}

