body{
    text-align: center;
}
.header{
    width: 100%;
}
.header  {
    background-color:rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   
}
.img{
    width: 60px;  
}
.btn{
    padding-right: 10px;
}
i{
    padding-right: 10px;
}

.header .navbar-nav .nav-link{
    color:red;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 2rem ;
    margin: 0 0.2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active{
    color: rgb(42, 39, 39);

}
.img{
    width: 60px;  
}
.btn{
    padding-right: 10px;
}
i{
    padding-right: 10px;
}

.header .navbar-nav .nav-link{
    color:red;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 2rem ;
    margin: 0 0.2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active{
    color: rgb(42, 39, 39);

}


 

/* Reset some default styles for checkboxes */
.checkbox-label {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
}

.checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create custom checkbox design using pseudo-elements */
.checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 3px;
}

/* When the checkbox is checked, change its appearance */
.checkbox-input:checked + .checkbox-custom::before {
    content: "\2714"; /* Unicode checkmark character */
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0px;
    color: #007BFF; /* Change color when checked */
}

/* Style for the label text */
.checkbox-label:hover {
    color: #007BFF; /* Change color on hover */
}

 /* re*/
 

