
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat ;
   background-color: #fff;
   align-items: center;
   text-align: center;
}.header{
    width: 100%;
}
.header  {
    background-color:white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   
}
.img{
    width: 60px;  
}
.btn{
    padding-right: 10px;
}
i{
    padding-right: 10px;
}


.header .navbar-nav .nav-link{
    color:red;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 2rem ;
    margin: 0 0.2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active{
    color: rgb(42, 39, 39);

}

/* .homepage */

.homepage{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)),url(/images/jason-charters-IorqsMssQH0-unsplash.jpg);
    background-size: contain;
    background-position:center;
    background-size:cover;
    height: 800px;
    text-align: center;
}
.container {
   
    max-width: 100%;
    padding: 20px;
}

.homepageh1 {
    font-size: 44px;
    text-align: center;
    color: #fff;
    margin-top: 150px;}

.homepagep {
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
}

.button-container {
    text-align: center;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2980b9;
}
@media screen and (max-width: 600px) {
    .button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
/* .free_football_tip */
.free_football_tip{
    background-color: rgb(6, 6, 43);
    text-align: center;
    height: 700px;
}
.free_football_tip-today{
    color: white;
}
.caption{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    margin: 10px 10px 10px 10px;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}
table.container {
    max-width: 100%;
    padding: 20px;
    text-align: center; /* Center align the content horizontally */
}

table {
    width: 100%;
    max-width: 1000px; /* Adjust the maximum width as needed */
    background-color: #ffffff; /* Background color for the table */
    border-collapse: collapse;
    margin: 0 auto; /* Center align the table horizontally */
}
.table1{
    width: 100%;
    max-width: 100%; /* Adjust the maximum width as needed */
    background-color: #ffffff; /* Background color for the table */
    border-collapse: collapse;
    margin: 0 auto; /* Center align the table horizontally */
}
th, td {
    padding: 30px;
    border: 1px solid #dddddd;
    text-align: left;
}

th {
    background-color: #333333; /* Background color for table header */
    color: #ffffff; /* Text color for table header */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Background color for even rows */
}

tr:hover {
    background-color: #dddddd; /* Background color for hover effect */
}

/* monster-tips */
/* Styles for the container */
.container-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f0f0f0; /* Optional background color */
}

/* Styles for the image */
#responsive-image {
    max-width: 100%;
    max-height: 100%;
}

/* free prediction */
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
   
}
.embed-responsive-4by3 {
    padding-bottom: 20%;
    background: #d60303;
}
.embed-responsive-4by3 h3 {
    color: #fff;
    font-weight: 900;
    padding-top: 10px;
    font-size: 30px;
   
}
.stores-area-v1 .store-logo {
    position: absolute;
    top: 50%;
    display: none;
    left: 50%;}
    img{
        display: inline-block;
        max-width: 100%;
        height: auto;
        user-select: none;
    }
.stores-area-v1 .store-name {
        padding: 6px 0;
        color: #000;
        font-size: 18px;
        border-top: 1px solid #f1f1f1;
        background-color: #fff;
        font-weight: 500;
       
    }
    .ptb-10 {
        
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }
    *, *:focus, *:active, a:link, a:hover, a:visited {
        text-decoration: none;
        outline-offset: 0!important;
    }
    .panel {
        border-radius: 3px;
        overflow: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;
    }
    
    .is-block {
        display: block!important;
    }
    .panel {
        margin: 0;
    }
    /* best-prediction */
    .paragraph {
       margin: 20px 10px 10px 20px;
        line-height: 1.5;
        text-align: center;
        overflow: hidden;
        position: relative;
    }
    .paragraph h3{
        font-size: 20px;
        justify-content: left;
        line-height: 33px;
        color: #000;
        font-weight: 400;
    }
     /* footer */
     .container-footer{
        background-color: #000;
     }