
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat ;
   background-color: #fff;
}.header{
    width: 100%;
}
.header  {
    background-color:white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   
}
.img{
    width: 60px;  
}
.btn{
    padding-right: 10px;
}
i{
    padding-right: 10px;
}


.header .navbar-nav .nav-link{
    color:red;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 2rem ;
    margin: 0 0.2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active{
    color: rgb(42, 39, 39);

}

/* .homepage */

.homepage{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)),url(/images/jason-charters-IorqsMssQH0-unsplash.jpg);
    background-size: contain;
    background-position:center;
    background-size:cover;
    height: 600px;
    text-align: center;
}
.container {
   
    max-width: 100%;
    padding: 20px;
}

.homepageh1 {
    font-size: 44px;
    text-align: center;
    color: #fff;
    margin-top: 70px;}

.homepagep {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
}

.button-container {
    text-align: center;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2980b9;
}
@media screen and (max-width: 600px) {
    .button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

.free_football_tip{
    background-color: rgb(6, 6, 43);
    text-align: center;
}
table.container {
    max-width: 100%;
    padding: 20px;
    text-align: center; /* Center align the content horizontally */
}

table {
    width: 100%;
    max-width: 400px; /* Adjust the maximum width as needed */
    background-color: #ffffff; /* Background color for the table */
    border-collapse: collapse;
    margin: 0 auto; /* Center align the table horizontally */
}

th, td {
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: left;
}
th {
    background-color: #333333; /* Background color for table header */
    color: #ffffff; /* Text color for table header */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Background color for even rows */
}

tr:hover {
    background-color: #dddddd; /* Background color for hover effect */
}