body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat ;
 background-color: #fff;
 align-items: center;
 text-align: center;
}
.container-body{
  width: 100%;
}
.header{
  width: 100%;
}

.header  {
  background-color:white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
 
}

.img{
  width: 60px; 

}
.btn{
  padding-right: 10px;
}
i{
  padding-right: 10px;
}
.navbar-brand{
  margin-left: 150px;
}

.header .navbar-nav .nav-link{
  color:#d60303;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 2rem ;
  margin: 0 0.2rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active{
  color: rgb(42, 39, 39);

}

.container-black{
  background-color: black;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

}
.link{
  text-decoration: none;
  color: white;
  padding: 20px;
  font-family: "lato", sans-serif;
}
.link:hover{
  color: black;
  background-color: #d60303;
}
body{margin-top:20px;
  background-color:#f2f6fc;
  color:#69707a;
  }
  .img-account-profile {
      height: 10rem;
  }
  .rounded-circle {
      border-radius: 50% !important;
  }
  .card {
      box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
  }
  .card .card-header {
      font-weight: 500;
  }
  .card-header:first-child {
      border-radius: 0.35rem 0.35rem 0 0;
  }
  .card-header {
      padding: 1rem 1.35rem;
      margin-bottom: 0;
      background-color: rgba(33, 40, 50, 0.03);
      border-bottom: 1px solid rgba(33, 40, 50, 0.125);
  }
  .form-control, .dataTable-input {
      display: block;
      width: 100%;
      padding: 0.875rem 1.125rem;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1;
      color: #69707a;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #c5ccd6;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0.35rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .nav-borders .nav-link.active {
      color: #0061f2;
      border-bottom-color: #0061f2;
  }
  .nav-borders .nav-link {
      color: #69707a;
      border-bottom-width: 0.125rem;
      border-bottom-style: solid;
      border-bottom-color: transparent;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0;
      padding-right: 0;
      margin-left: 1rem;
      margin-right: 1rem;
  }


  /* styles.css */

.sidebar {
  width: 250px;
  background-color: #000000;
  color: #fff;
  padding-top: 30px;
  height:auto;
}

.sidebar ul {
  list-style: none;
  
  text-align: left;
}

.sidebar ul li {
  margin: 10px 0;
  margin-bottom: 20px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}
.sidebar ul li:hover{
  background-color: red;
  padding: 10px;
}



/* Highlight the active link */
.sidebar ul li a.active {
  font-weight: bold;
}
