body{
    text-align: center;
}
.header{
    width: 100%;
}
.header  {
    background-color:white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   
}
.img{
    width: 60px;  
}
.btn{
    padding-right: 10px;
}
i{
    padding-right: 10px;
}

.header .navbar-nav .nav-link{
    color:red;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 2rem ;
    margin: 0 0.2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active{
    color: rgb(42, 39, 39);

}


.banner_section{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)),url(/images/jannes-glas-cuhQcfp3By4-unsplash.jpg);
    background-repeat: no-repeat ;
    background-position:center;
    background-size:cover;
    min-height:50vh;
}
.banner_section .carousel-item{
    
    height:45vh;
}
.banner_section .carousel-caption{
  
    bottom: 0;
    left: 3%;
    right: 0;
    text-align: left;
    width: 100%;
}
.top{
    
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

@media (min-width: 992px){
.col-md-8 {
    width: 66.66666667%;
}}
@media (min-width: 992px){
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}}
@media (min-width: 768px){
.col-sm-12 {
    width: 100%;}
}


  /*footer*/
.pos-r {
    position: relative!important;
}
.bg-blue {
    background-color: #000!important;
}
.pb-30 {
    padding-bottom: 30px!important;
}
.pt-70 {
    padding-top: 20px!important;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row.row-tb-20 {
    margin-top: -20px;
    margin-bottom: -20px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row.row-tb-20>[class*=col-sm], .row.row-tb-20>[class*=col-md], .row.row-tb-20>[class*=col-lg] {
    padding-top: 10px;
    padding-bottom: 20px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.row.row-tb-20>[class*=col-xs], .row.row-tb-20>[class*=col-sm], .row.row-tb-20>[class*=col-md], .row.row-tb-20>[class*=col-lg] {
    padding-top: 20px;
    padding-bottom: 20px;
}
.color-light {
    color: #d4d4d4!important;
}
.mb-40 {
    margin-bottom: 30px!important;
}
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
img {
    vertical-align: middle;
}
.footer-top-area h2 {
    font-size: 16px;
    line-height: 26px;
    color: #eee;
    margin: 0 0 40px;
    text-transform: uppercase;
}
.row.row-tb-5 {
    margin-top: -5px;
    margin-bottom: -5px;
}
.row.row-rl-5 {
    margin-right: -5px;
    margin-left: -5px;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.color-lighter {
    color: #f5f5f5!important;
}
ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-top-area .footer-links ul li a {
    display: block;
    position: relative;
    color: #bbbec1;
    height: 25px;
    line-height: 25px;
    padding-left: 20px;
    text-transform: capitalize;
}
.main-footer {
    text-align: center;
    background: #1e2b35;
    height: 60px;
}


.main-footer {
    text-align: center;
    background: #1e2b35;
    height: 60px;
}
.main-footer p {
    font-size: 15px;
    line-height: 26px;
    color: #647d89;
    margin: 17px 0 0;
}
